**/bin/
**/target/

# Eclipse files
**/.classpath
**/.factorypath
**/.project
**/.settings/

# IntelliJ files
**/.idea/
**/*.iml

# Misc
.mtj.tmp/
**/hs_err_pid*
config.properties

# 
**/welcome.commands
**/served-data/
**/*.graphml

pom-explorer/export.csv
pom-explorer/pomexplorer-ui/pomexplorer-ui/obj/
pom-explorer/pomexplorer-ui/node_modules/