<div class='project-card mdl-card mdl-shadow--2dp'>
 <div class='mdl-card__title mdl-card--expand'>
 {{title}}
 </div>
 <div class='mdl-card__supporting-text'>
 {{content}}
 </div>
 <div class='mdl-card__supporting-text' style='display:none;'>
 {{details}}
 </div>
 <div class='mdl-card__actions mdl-card--border'>
 {{actions}}
 </div>
 <div class='mdl-card__menu'>
 {{menu}}
 </div>

</div>
