<div class='console-panel'>
 <div class='console-output'>
  {{output}}
 </div>
 <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>
  <input class='mdl-textfield__input' type='text' id='sample3'>
   {{input}}
  </input>
  <label class='mdl-textfield__label' for='sample3'>
   enter a command, or just "?" to get help
  </label>

 </div>

</div>
