<div >
 <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>
  <input class='mdl-textfield__input' type='text' id='searchBox'>
   {{input}}
  </input>
  <label class='mdl-textfield__label' for='searchBox'>
   Project search...
  </label>

 </div>
 <div class='mdl-button mdl-button--icon'>
  <i class='material-icons'>
   search
  </i>

 </div>

</div>
